.radius-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  background-color: lightslategray;
  padding: 20px;
  border-radius: 10px;
  border: px solid black;
  color: white;
}
.radius {
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.radius input {
  margin: 5px 0 0 0;
  border-radius: 5px;
}
.radius-container button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}